.row{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    text-align: center;
}
.form-group {
    margin-bottom: 1rem;
  }
  
.footer {
    border-style: solid;
    border-color: black transparent transparent transparent ;
    overflow: hidden;
   text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

.footer a {
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.register{
  border-style: solid;
  border-color: black ;
  width: fit-content;
  margin: auto;
  padding: 10px;
}

.container {
  width: fit-content;
  margin: auto;
  padding: 10px;
}

.gender {
  float: left;
  clear: none;
}

input[type=radio],
input.radio {
  float: left;
  clear: none;
  margin: 2px 0 0 2px;
}

label {
  float: left;
  clear: none;
  padding: 0px 1em 0px 8px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
  line-height: 26px;
  margin-bottom: 10px;
}

input {
  height: 20px;
  margin-left: 10px;
  margin-right: 20px;
}