.row {
    display: flex;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}

.topnav {
    border-style: solid;
    border-color: transparent transparent black transparent ;
    overflow: hidden;
   
    position: relative;
    width: 100%;
  }

.navdata {
  position: inherit;
  top: 0;
  height: 100%;
  margin: 40px;
}
.navdata a {
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  font-size: 30px;
}


  